	<div class="card-content">
		<div class="card-img">
			<img src="https://i.pinimg.com/originals/67/54/78/675478c7dcc17f90ffa729387685615a.jpg" style="height: 210px;" alt="">
			<span><h4>{{position}}</h4></span>
		</div>
		<div class="card-desc">
			<h3>{{destino.nombre}}</h3>
			<p>Servicios</p>
			<ul>
				<li *ngFor="let s of destino.servicios">
					<span [ngSwitch]="s">
						<i *ngSwitchCase="'desayuno'">{{s}}</i>
						<i *ngSwitchDefault>{{s}}</i>
					</span>
				</li>
			</ul>
			<a	href="#" class="btn-card" (click)="ir()">Ir!</a>
			<span *ngIf="destino.isSelected()">Preferido</span>	
			<a [routerLink]="['/destino']">Ver Detalle</a>		
		</div>
	</div>

